{% extends 'base.html' %}

{% block title %}List user{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4 mb-4" style="padding: 0;">
                <a href="{% url 'hrm:create_user' %}" type="button" class="btn btn-primary">Add User</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.get_gender_display }}</td>
                        <td>{{ user.address }}</td>
                        <td>
                            <span class="id-user" style="display: none">{{ user.id }}</span>
                            <a href="{% url 'hrm:update_user' pk=user.id %}" type="button" class="btn btn-primary">Edit</a>
                            <a type="button" class="btn-delete btn btn-primary">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example" style="padding: 0;">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {% endif %}
                    
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                    {% endif %}    
                </ul>
              </nav>
        </div>
    </div> 
{% endblock content %}

{% block javascript %}
    <script>
        $(".btn-delete").click(function() {
            var answer = confirm("Are you sure?");
            if (answer) {
                var tag = $(this).parent().parent();
                var pk = $(this).parent().find(".id-user").html();
                let csrftoken = '{{ csrf_token }}'
                $.ajax({
                    type: 'GET',
                    headers: {'X-CSRFToken': csrftoken},
                    url: "/hrm/user/delete/" + pk + "/",
                    {% comment %} 
                    url: "{% url 'hrm:delete_user' %}",
                    data: {"pk": pk}, 
                    {% endcomment %}
                    success: function (response) {
                        tag.remove();
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
        })
    </script>
{% endblock javascript %}